html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.text img {
  max-width: 40%;
  padding: 0 3em;
}

.text {
  position: absolute;
  max-width: 45em;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.text div h2 {
  font-family: "Roboto Condensed";
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
  padding: 0 2em;
}

.text div p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 2em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  padding: 0;
  background-color: #333;
  border: 3px solid #333;
  border-radius: 8px;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
